<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sverje venn</title>
    <link rel="stylesheet" type="text/css" href="style/main.css" />
    <meta name="viewport" content="width=device-width initial-scale=1">
</head>
<body>
  <div id="wrapper">
      <h1>Sverje vennIFY!</h1>
      {{{body}}}
  </div>

  <script src="scripts/clipboard.min.js"></script>
  <script>
    (function(){
      new Clipboard('.btn-copy');
    })();
  </script>
</body>
</html>
