<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sverje venn</title>
    <link rel="stylesheet" type="text/css" href="style/main.css" />
    <meta name="viewport" content="width=device-width initial-scale=1">

    <meta property="og:title" content="SVERJE VEN" />
    <meta property="og:site_name" content="SVERJE VEN" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="gör om PKTEXT Till Svärje venlig tekst1!!!!">
    <meta property="og:url" content="http://sverjeven.lekskola.com" />
    <meta property="og:image" content="http://sverjeven.lekskola.com/img/og_img.jpg" />
    <meta property="og:locale" content="sv_SE" />
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <img src="img/sverje_anim.gif" class="header-img" /><h1 class="header-text">Sverje vennIFY!</h1>  <img src="img/sverje_anim.gif" class="header-img" />
    </div>
      {{{body}}}
  </div>

  <script src="scripts/clipboard.min.js"></script>
  <script>
    (function(){
      new Clipboard('.btn-copy');
    })();
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90624797-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
