body {
  padding: 0;
  margin: 0;
  color: yellow;
  text-align: center;
  background: url("../img/sverje.jpg");
}

h1 {
  color: yellow;
}

.header-img {
  width: 80px;
}

#header {
  background: blue;
}

.header-text {
  margin: 0;
  padding: 0;
  display: inline;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

textarea:focus, input:focus{
    outline: none;
}

textarea {
  resize: vertical;
}

.form-box {
  float:left;
  display: inline-block;
  margin-left: 10px;
}

.form-box textarea{
  width: 350px;
  height: 200px;
  background: yellow;
  opacity: 0.9;
  border-radius: 5px;
  border: 2px solid blue;
}

button {
  background: yellow;
  border-radius: 2px;
  border: none;
  height: 30px;
  border: 2px solid blue;
}

.btn-copy {
  float: right;
}

.copy-icon {
  height: 24px;
}

.btn-submit {
  float: left;
}

@media screen and (max-width: 800px) {
  #wrapper {
    width: 90%;
  }
    .form-box {
      display:block;
      width: 100%;
      margin: 0;
    }

    .form-box textarea{
      width: 99%;
      height: 200px;
      padding: 1%;
    }

    .btn-copy {
      float: left;
    }

}
