<div class="form-box">
<form method="post">
  <h4>PK TEKTS:</h4>
  <textarea name="text">{{text}}</textarea>
  <br>
  <button type="submit" class="btn-submit">{{#if done}}sverje venligt IGEN!!{{else}}Bli en sverje ven{{/if}}</button>
</form>
</div>

  <div class="form-box">
  <h4>SVERIE vännlig täxt:</h4>
  <textarea id="output" name="output" readonly>{{#if done}}{{output}}{{else}}här kommer snart Magi att synas ,, SKRIV LITE PKTEXT- och bli en sverje ven... ingen ting är viktigare just nu{{/if}}</textarea><br>
  <button type="button" class="btn-copy" data-clipboard-target="#output"><img src="img/copy.png" class="copy-icon" />Kåpiera</button>
  <div class="form-box">
